*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(245, 245, 180);
}
main{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.titulo-nombre{
    width: 30%;
    font-weight: 550;
}
.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegacion ul li{
    list-style: none;
    cursor: pointer;
    
}
.lista-navegacion {
    display: flex;
    
    font-size: 18px;
    margin-top: 25px;
}
.lista-nav{
    margin: 0 20px 20px;
}

.primera-seccion{
    background-color: white;
    width: 100%;
    height: 300px;
}
.caja-foto{
    width: 250px;
    height: 250px;
    background-image: url(./images/fotoAna.jpeg);
    background-size: cover;
    border-radius: 50%;
    float: right;
    margin-right: 200px;
}
.caja-primera{
    margin-left: 100px;
    padding-top: 20px;
}
.segundo-titulo{
    font-size: 40px;
}
.parrafo-introduccion{
    font-size: 20px;
    margin-top: 8px;
}
.lista-aplicaciones{
    font-size: 17px;
}
.lista-app{
    display: inline;
    margin: 0 20px 20px;
}

.segunda-seccion{
    background-color: white;
}
.tercer-titulo{
    font-size: 28px;
}
.firma{
    width: 200px;
    height: 40px;
}

.tercera-seccion{
    background-color: white;
}
.titulo-skills{
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}
.caja-iconos{
    width: 100%;
    margin: 0;
    padding: 50px;
    
}
.caja-iconos li{
    display: inline-block;
    text-align: center;
    width: 15%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-width: 0.2px;
    border-style: none;
}
.icono_skills{
    width: 25%;
    height: 25%;
}
.titulo-hobbies{
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}
.icono_hob{
    width: 30%;
    height: 30%;
}

.titulo-academico{
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
    padding-bottom: 50px;
}
.caja-academica li{
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: none;
}
.container-academico{
    width: 28%;
    height: 28%;
}
.logo_academico1{
    width: 100px;
    height: 110px;
}
.logo_academico{
    width: 100px;
    height: 100px;
}
.parrafo_academico{
    color: gray;
}

.container-exp{
    height: 900px;
    width: 100%;
}
.titulo-exp{
    padding-top: 100px;
    text-align: center;
    font-size: 28px;
    padding-bottom: 50px;
}
.caja-encriptador{
    display: inline-block;
    font-size: 25px;
    padding-left: 150px;
    padding-top: 100px;
}
.foto-encriptador{
    width: 600px;
    float: left;
    margin-left: 50px;
}
.caja-ahorcado{
    font-size: 25px;
    padding-top: 300px;
    padding-left: 100px;
}
.foto-ahorcado{
    width: 600px;
    float: right;
    padding-top: 200px;
    margin-right: 50px;
}

.titulo-contacto{
    font-size: 29px;
}
.parrafo-contacto{
    margin-bottom: 10px;
}
.caja-contacto{
    padding-top: 70px;
    width: 100%;
    height: 500px;
}
.contacto{
    display: flex;
    padding-left: 20px;
}
.telefono-rojo{
    float: left;
    margin-left: 15%;
    width: 300px;
}
#nombre, #email, #asunto{
    width: 500px;
    height: 30px;
    display: block;
    margin-bottom: 15px;
}

#area{
    display: block;
    margin-bottom: 10px;
}
#boton-enviar{
    padding: 10px 40px;
    background: rgb(255, 47, 47);
    border-color: rgb(255, 47, 47);
    cursor: pointer;
}
footer{
    text-align: center;
    color: rgb(66, 10, 10);
    background-color: rgb(250, 250, 185);
}
  

@media screen and (max-width: 1024px){
    .tercer-titulo{
        padding-top: 250px;
    }
    .caja-foto{
        margin-right: 20px;
    }
    .foto-ahorcado{
        padding-top: 50px;
        margin-right: 100px;
    }
    .container-exp{
        height: 1200px;
    }
    .caja-encriptador{
        padding-top: 50px;
    }
    .caja-ahorcado{
        padding-top: 450px;
        margin-left: 50px;
    }
    .telefono-rojo{
        margin-left: 0;
    }
}


@media screen and (max-width: 667px) {
    .lista-navegacion{
        display: none;
    }
    .titulo-nombre{
        width: 100%;
    }
    .caja-foto{
        margin-right: 0;
    }
    .segundo-titulo{
        font-size: 24px;
    }
    .tercer-titulo{
        padding-top: 300px;
    }
    .caja-iconos{
        display: flex;
        flex-direction: column;
    }
    .icono_skills{
        width: 75px;
    }
    .icono_hob{
        width: 100px;
    }
    .caja-academica{
        display: flex;
        flex-direction: column;
    }
    .caja-academica li{
        width: 100%;
    }
    .foto-encriptador{
        width: 300px;
    }
    .caja-encriptador{
        padding-left: 60px;
        padding-top: 40px;
    }
    #boton-enviar{
        padding: 10px 20px;
    }
    .foto-ahorcado{
        width: 300px;
        padding-top: 55px;
    }
    .caja-ahorcado{
        padding-top: 250px;
        padding-left: 50px;
    }
    .caja-contacto{
        padding-top: 0;
        height: 820px;
    }
}
